[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
gunicorn = "*"
celery = "==5.2.3"
install = "*"
importlib-metadata = "<5.0"
redis = "*"

[dev-packages]

[requires]
python_version = "3.7"
python_full_version = "3.7.6"
